body{
    background-color: #eaf6f6;
}

h1,h2{
    color: #66bfbf;
}

h1:hover{
    color: gold;
}

h2:hover{
    color: gold;
}

hr{
    color: white;
    border-style: none;
    border-top-style: dotted;
    border-width: 10px;
    width: 5%;      
}

